.project{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project__title{
  font-size: var(--size-2xl);
  color: var(--text);
}

.project__content{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.project__container{
  display: flex;
  flex-direction: column;
  border: outset var(--text);
  border-radius: 10px;
  gap: 0.5rem;
  padding: 5px;
}

.project__img{
  width: 20rem;
  height: 15rem;
  border-bottom: 6px solid var(--accent);
  cursor: pointer;
}
.project__description{
  display: block;
}

.project__subtitle{
  margin-left: none;
}

.project__title{
  font-size: var(--size-3xl);
}

.project__description{
  font-size: var(--size-base);
  margin-left: 1rem;
}

.project__page{
  text-decoration: none;
  color: var(--text);
}

.project__subtitle{
  font-size: var(--size-base);
}

.project__list-container{
  display: flex;
  gap: 2px;
  margin-top: 0.5rem;
}

.project__list{
  padding: 4px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid var(--text);
  font-size: var(--size-xs);
}

/* xs */
/* @media (min-width: 475px){} */

/* sm */
@media (min-width: 640px){
  .project__title{
    font-size: var(--size-3xl);
  }

  .project__description{
    font-size: var(--size-base);
  }

  .project__subtitle{
    font-size: var(--size-base);
  }

  .project__list{
    font-size: var(--size-xs);
  }
}

/* md */
@media (min-width: 768px){
  .project__title{
    font-size: var(--size-4xl);
  }

  .project__description{
    font-size: var(--size-lg);
  }

  .project__subtitle{
    font-size: var(--size-lg);
  }
}

/* lg */
@media (min-width: 1024px){
  .project__list{
    font-size: var(--size-sm);
  }
}

/* xL */
/* @media (min-width: 1280px){} */

/* 2xL */
/* @media (min-width: 1536px){} */